.description {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.titel {
  font-size: 40px;
  font-weight: 700;
  color: #333;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
